<!-- NAV -->
<nav class="navbar navbar-expand-md navbar-light py-4">
  <div class="container">
    <a href="https://www.torreinpietracarandini.it/" class="navbar-brand">
      <img src="/assets/images/menu_items/marchiologo.jpg" height="60" alt="marchiologo barbabianca">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="https://www.torreinpietracarandini.it/barbabianca" class="nav-link">
            <img src="/assets/images/menu_items/picnic.jpg" height="60" alt="picnic">
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.torreinpietracarandini.it/chi_siamo" class="nav-link">
            <img src="/assets/images/menu_items/chi_siamo.jpg" height="60" alt="chi siamo">
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.torreinpietracarandini.it/contatti" class="nav-link">
            <img src="/assets/images/menu_items/dove_siamo.jpg" height="60" alt="dove siamo">
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.torreinpietracarandini.it/contatti" class="nav-link">
            <img src="/assets/images/menu_items/contatti.jpg" height="60" alt="contatti">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>