#banner{
  position: relative;
  background: url('../assets/images/banner.jpg');
  min-height: 210px;

  .primary-overlay{
    background: rgba(0,110,205,0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .claim{
    height: 210px;
  }
}