#chi_siamo{
    position: relative;
    min-height: 200px;

    .azienda-img {
        height: auto;
        width: 200px;
    }
    
    .azienda-name {
        font-size: 2rem;
        margin-left: 10px;
    }

    .azienda-description {
        font-size: 1.5rem;
    }
}