#dove-siamo{
    position: relative;
    min-height: 200px;

    .full {
        height: 100%;
        width: 100%;
    }

    .tabbed {
        margin-right: -15px;
        margin-left: -15px;
    }
}