#home{
    position: relative;
    min-height: 200px;

    .section-title {
        font-size: 2em;
        font-style: italic;
        margin-top: 12px;
        margin-bottom: 24px;
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
}