#picnic{
    position: relative;
    min-height: 200px;

    p {
        font-size: 1.5rem;
        font-style: italic;
        margin-top: 12px;
        margin-bottom: 24px;
    }

    li {
        font-size: 1.5rem;
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
}