#event{
    position: relative;
    min-height: 200px;
    margin-top: 20px;
  
    .event-title {
      color: cornflowerblue;
      font-size: 2em;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  
    .event-img {
      width: 600px;
    }

    .event-kind {
      float: left;
    }
  
    .eventkind-img {
      height: 40px;
      width: auto;
    }
  
    .event-title {
      font-size: 1.5em;
      margin-left: 10px;
    }
  }